@if (Previsto == null)
{
    <div class="loader"></div>
    <p><em>Loading...</em></p>
}
else
{
    <EditForm Model="@Previsto" OnValidSubmit="@OnValidSubmit">
        <DataAnnotationsValidator />

        <div class="btn-group pull-right" role="group" aria-label="...">
            <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> @BotaoDescricao
            </button>
        </div>

        <br />
        <br />

        <div asp-validation-summary="All"></div>

        <fieldset disabled="@IsReadOnly">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <label>Categoria</label>
                            <select @bind="@Previsto.CategoriaId" class="form-control">
                                @if (ListCategorias != null)
                                {
                                    foreach (var item in ListCategorias)
                                    {
                                        <option value="@item.CategoriaId">@item.Descricao</option>
                                    }
                                }
                            </select>

                            <ValidationMessage For="@(() => Previsto.CategoriaId)" />
                        </div>

                        <div class="col-md-4">
                            <label>Ano</label>
                            <input @bind="@Previsto.Ano" class="form-control" />
                            <ValidationMessage For="@(() => Previsto.Ano)" />
                        </div>

                        <div class="col-md-4">
                            <label>Mês</label>
                            <input @bind="@Previsto.Mes" class="form-control" />
                            <ValidationMessage For="@(() => Previsto.Mes)" />
                        </div>

                        <div class="col-md-4">
                            <label>Valor</label>
                            <input @bind="@Previsto.Valor" class="form-control" />
                            <ValidationMessage For="@(() => Previsto.Valor)" />
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </EditForm>
}