@if (Conta == null)
{
    <div class="loader"></div>
    <p><em>Loading...</em></p>
}
else
{
    <EditForm Model="@Conta" OnValidSubmit="@OnValidSubmit">
        <DataAnnotationsValidator />

        <div class="btn-group pull-right" role="group" aria-label="...">
            <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> @BotaoDescricao
            </button>
        </div>

        <br />
        <br />

        <div asp-validation-summary="All"></div>

        <fieldset disabled="@IsReadOnly">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <label>Descrição</label>
                            <input @bind="@Conta.Descricao" class="form-control" />
                            <ValidationMessage For="@(() => Conta.Descricao)" />
                        </div>

                        <div class="col-md-4">
                            <label>Final do Cartão</label>
                            <input @bind="@Conta.FinalCartao" class="form-control" />
                            <ValidationMessage For="@(() => Conta.FinalCartao)" />
                        </div>

                        <div class="col-md-4">
                            <label>Dia de Fechamento</label>
                            <input @bind="@Conta.DiaFechamento" class="form-control" />
                            <ValidationMessage For="@(() => Conta.DiaFechamento)" />
                        </div>

                        <div class="col-md-4">
                            <label>Dia de Pagamento</label>
                            <input @bind="@Conta.DiaPagamento" class="form-control" />
                            <ValidationMessage For="@(() => Conta.DiaPagamento)" />
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </EditForm>
}