@page "/Categorias/ResumoMensal"
@inject HttpClient Http

<h1>Resumo</h1>

@if (ResumoMensal == null)
{
    <div class="loader"></div>
}
else
{
    if (!UsaDataPagamento)
    {
        <h1>Overview - Purchase Date</h1>
    }
    else
    {
        <h1>Overview - Payment Date</h1>
    }

    <div class="btn-group pull-right" role="group" aria-label="...">
        @if (!UsaDataPagamento)
        {
            <a href="./ResumoMensal?IsDataPagamento=true" class="btn btn-default" role="button">By Payment Date</a>
        }
        else
        {
            <a href="./ResumoMensal" class="btn btn-default" role="button">By Purchase Date</a>
        }
    </div>

    <br />
    <br />

    <table class="table table-bordered table-striped resumo-despesas-table" id="tbResumos">
        <thead>
            <tr>
                <th>Description</th>
                @foreach (var periodo in ResumoMensal.Periodos)
                {
                    <th style="text-align: center"><a href="/Transacoes?Periodo=@periodo.ToString("yyyy-MM-dd")&DataPagamento=@UsaDataPagamento">@periodo.Month/@periodo.Year</a></th>
                }
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var categoria in ResumoMensal.Categorias)
            {
                var CategoriaPeriodos = ResumoMensal.CategoriasPeriodos
                    .Where(a => a.CategoriaId == categoria.CategoriaId)
                    .ToList();

                <tr style="text-align: right">
                    <td><a href="/Transacoes?CategoriaId=@categoria.CategoriaId&DataPagamento=@UsaDataPagamento">@categoria.Descricao</a></td>

                    @foreach (var periodo in ResumoMensal.Periodos)
                    {
                        var CategoriaPeriodo = CategoriaPeriodos
                            .Where(a => a.Periodo == periodo)
                            .SingleOrDefault();

                        var total = CategoriaPeriodo?.Valor ?? 0;
                        float previsto = ResumoMensal.Previstos
                            .Where(a => a.Ano == periodo.Year)
                            .Where(a => a.Mes == periodo.Month)
                            .SingleOrDefault(a => a.CategoriaId == categoria.CategoriaId)?
                            .Valor ?? 0;

                        string classeValor = "";
                        string classeTD = "";

                        if (total > previsto)
                        {
                            classeValor = "resumo-despesas-estourado";
                        }
                        else
                        {
                            classeValor = "resumo-despesas-valor";
                        }

                        if ((periodo.Month == DateTime.Today.Month) &&
                            (periodo.Year == DateTime.Today.Year))
                        {
                            classeTD = "resumo-despesas-mesatual";
                        }

                        <td class="@classeTD">
                            <a class="@classeValor" href="/Transacoes?CategoriaId=@categoria.CategoriaId&Periodo=@periodo.ToString("yyyy-MM-dd")&DataPagamento=@UsaDataPagamento" title="@previsto.ToString("#,##0.00")">
                                @total.ToString("#,##0.00")
                            </a>
                        </td>
                    }
                    <td>@CategoriaPeriodos.Sum(a => a.Valor).ToString("#,##0.00")</td>
                </tr>
            }
            <tr style="text-align: right">
                @{
                    var SemCategoriaPeriodos = ResumoMensal.CategoriasPeriodos
                        .Where(a => !a.CategoriaId.HasValue)
                        .ToList();
                }

                <td><a href="/Transacoes?CategoriaId=@(Guid.Empty)&DataPagamento=@UsaDataPagamento">Sem Categoria</a></td>

                @foreach (var periodo in ResumoMensal.Periodos)
                {
                    var SemCategoriaPeriodo = SemCategoriaPeriodos
                        .Where(a => a.Periodo == periodo)
                        .SingleOrDefault();

                    var total = SemCategoriaPeriodo?.Valor ?? 0;
                    string classeValor = "";
                    string classeTD = "";

                    if (total > 0)
                    {
                        classeValor = "resumo-despesas-estourado";
                    }
                    else
                    {
                        classeValor = "resumo-despesas-valor";
                    }

                    if ((periodo.Month == DateTime.Today.Month) &&
                        (periodo.Year == DateTime.Today.Year))
                    {
                        classeTD = "resumo-despesas-mesatual";
                    }

                    <td class="@classeTD">
                        <a class="@classeValor" href="/Transacoes?IsSemCategoria=true&Periodo=@periodo.ToString("yyyy-MM-dd")&DataPagamento=@UsaDataPagamento" title="0.00">
                            @total.ToString("#,##0.00")
                        </a>
                    </td>
                }
                <td>
                    @SemCategoriaPeriodos.Sum(a => a.Valor).ToString("#,##0.00")
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th>Total</th>
                @foreach (var periodo in ResumoMensal.Periodos)
                {
                    <th style="text-align: right !important">
                        @{
                            var TotalPeriodo = ResumoMensal.CategoriasPeriodos
                                .Where(a => a.Periodo == periodo)
                                .Sum(a => a.Valor);
                        }

                        @TotalPeriodo.ToString("#,##0.00")
                    </th>
                }
                <th>@ResumoMensal.CategoriasPeriodos.Sum(a => a.Valor).ToString("#,##0.00")</th>
            </tr>
        </tfoot>
    </table>
}